<h4>Order Total: <%= "#{number_to_currency(@order.total_price)}" %></h4>

<% if current_admin? %>
  <p><strong>User:</strong> <%= "#{@order.user.name}" %></p>
  <p><strong>Email:</strong>  <%="#{@order.user.email}" %></p>
  <p><strong>Submitted:</strong> <%= "#{@order.created_at}" %></p>
  <p><strong>Sales Channel:</strong> <%= "#{@order.channel}, Date: #{@order.updated_at}" %></p>
  <p><strong>Order ID:</strong> <%= "#{@order.id}" %></p>
<% end %>

<ul>
  <% @order.products.each do |item| %>
    <li><strong><%= link_to item.name, product_path(item.id) %></strong></li>
    <li><%= number_to_currency(item.cost) %></li>
    <% @order.line_items.each do |line_item| %>
      <li>Quantity in cart: <%= line_item.quantity %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Back to Orders', orders_path %>
<br>
<br>
<%= link_to 'Back to All Products', products_path %>